<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogToConsole" value="true" />
    <add key="LogToFile" value="true" />
    <add key="LogToDatabase" value="true" />
    <add key="LogMessage" value="true" />
    <add key="LogWarning" value="true" />
    <add key="LogError" value="true" />
    <add key="LogFileDirectory" value=".\Logs\" />
    <add key="ConnectionString" value="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;" />
  </appSettings>
</configuration>

